node_modules
sass/theme
theme/*
images
*.css
*.html
*.js
!/public/theme/css/themes/*.css
!/public/theme/css/t-scroll.min.css
!/public/theme/js/t-scroll.min.js
**.DS_Store
.DS_Store?

.*.swp
._*
.editorconfig
.gitignore
.git
.github
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
_config.yml
CONTRIBUTING.md
gulpfile.js
robots.txt

# compass watch cache
.sass-cache