body .color {
  background: red; }

.btn, .btn-red, .btn-blue {
  width: 200px;
  height: 50px; }

.btn-red {
  background: red; }

.btn-blue {
  background: blue; }

ul li a, ul li a:hover, ul li a:active, ul li a:focus {
  color: red; }

.btn, .btn-red, .btn-blue {
  font-size: 0px;
  height: 4px;
  line-height: 4px;
  line-height: 1px; }
